.custom-select-width {
    width: 130px; /* Adjust the width as needed */
}
.tagify {
    width: 160px;  
}

/* Style for the dragged row */
.dragging {
    background-color: #f2f2f2; /* Change background color when dragging */
}

